.container__home {
    width: 100%;
    height: 100vh;
    background-image: url("../../Img/Img_produtos/Img_bg_produtos.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.container__home__text {
    width: 60vw;
    text-align: center;
}

.container__home__text h1 {
    font-family: var(--font-2);
    font-size: var(--font-size-title);
    color: var(--font-color-1);
    font-weight: var(--font-weight-1);
    text-shadow: var(--text-shadow-3);
    font-weight: var(--font-weight-1);
}

.container__home__text p {
    font-family: var(--font-1);
    font-size: var(--font-size-paragraphs);
    color: var(--font-color-1);
    font-weight: var(--font-weight-2);
    padding: 2rem 0;
    line-height: 1.5;
}

.container__home__cards {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.card {
    width: 10vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 2rem;
    background-color: var(--color-1);
    border-radius: 10px;
    text-align: center;
}

.card:hover {
    transform: scale(1.2);
    background-color: #ffffff3a;
    transition: 0.5s;
}

.card h1 {
    font-family: var(--font-2);
    font-size: 1.5rem;
    color: var(--font-color-1);
    font-weight: var(--font-weight-1);
    text-shadow: var(--text-shadow-2);
    font-weight: var(--font-weight-1);
}

.card p {
    font-family: var(--font-1);
    font-size: 1.1rem;
    color: var(--font-color-1);
    font-weight: var(--font-weight-3);
    text-shadow: var(--text-shadow-4);
}

.card a {
    font-family: var(--font-1);
    font-size: 1.2rem;
    color: var(--font-color-1);
    font-weight: var(--font-weight-2);
    text-shadow: var(--text-shadow-2);
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-1);
}

.card a:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 1px var(--color-3);
    transition: 0.5s;
}

.container__home__links__mobile {
    display: none;
}

@media screen and (max-width: 730px) {
    .container__home__text {
        width: 90vw;
    }
    .container__home__text h1 {
        font-size: var(--font-size-title-mobile);
    }
    .container__home__text p {
        font-size: var(--font-size-paragraphs-mobile);
    }
    .container__home__cards {
        display: none;
    }
    .container__home__links__mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .container__home__links__mobile a {
        width: 200px;
        font-family: var(--font-1);
        font-size: var(--font-size-paragraphs-mobile);
        font-weight: var(--font-weight-2);
        text-decoration: none;
        text-align: center;
        color: var(--font-color-1);
        padding: 0.5rem 0;
        border-radius: 0.5rem;
        background-color: var(--color-1);
    }
 }

/* Produtos */

.container__produtos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Produtos transitions */

.container__transitions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12rem 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.container__transitions__filter {
    position: absolute; /* Permite que a div ocupe toda a área do container */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__transitions  h1 {
    font-family: var(--font-2);
    font-size: var(--font-size-subtitle);
    color: var(--font-color-1);
    font-weight: var(--font-weight-1);
    font-weight: var(--font-weight-2);
    text-align: center;
}

.bg__one {
    background-image: url("../../Img/Img_produtos/Img_transition.jpeg");
}
.bg__two {
    background-image: url("../../Img/Img_produtos/Img_mar.png");
}
.bg__tree {
    background-image: url("../../Img/Img_produtos/Img_mar.png");
}


/* Produtos lacos */

.container__lacos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-3);
    padding: 8rem 0;
}

.container__lacos__text {
    width: 50vw;
}

.container__lacos__text h1 {
    font-family: var(--font-2);
    font-size: var(--font-size-title);
    color: var(--font-color-3);
    font-weight: var(--font-weight-1);
    font-weight: var(--font-weight-1);
}

.container__lacos__text p {
    font-family: var(--font-1);
    font-size: var(--font-size-paragraphs);
    color: var(--font-color-3);
    font-weight: var(--font-weight-3);
    padding: 2rem 0; 
    line-height: 1.5;
}

.container__lacos__text h2 {
    font-family: var(--font-2);
    font-size: var(--font-size-subtitle);
    color: var(--font-color-3);
    font-weight: var(--font-weight-1);
}

.container__lacos__btns {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.container__lacos__btns a {
    font-family: var(--font-1);
    font-size: var(--font-size-paragraphs);
    color: var(--font-color-1);
    font-weight: var(--font-weight-2);
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1.6rem;
    background-color: var(--color-1);
    transition: 0.5s ease-out;
    border: 1px solid var(--color-1);
}

.container__lacos__btns a:hover {
    background-color: var(--color-bg-3);
    transition: 0.5s ease-in-out;
    color: var(--color-1);
}



.container__lacos__img {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.container__lacos__produto {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
}

.container__lacos__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.container__lacos__img img:hover {
    transform: scale(1.2);
}



/* roupas */

.container__roupas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-1);
    padding: 8rem 0;
}

.container__roupas__img {
    width: 600px;
    height: 600px;
    display: flex;
}

.container__roupas__produto {
   flex: 1;
   cursor: pointer;
   transition: flex 2s ease;
}

.container__roupas__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container__roupas__produto:hover {
    flex: 3;
    transition: flex 1s ease;
}

.container__lacos__text--right {
    padding-left: 3rem;
}

.container__lacos__text--right h1 {
    color: var(--font-color-1);
}

.container__lacos__text--right p  {
    color: var(--font-color-1);
}

.container__lacos__text--right h2 {
    color: var(--font-color-1);
}


/* Produtos acessorios */


@media screen and (max-width: 730px) {
    .container__transitions {
        height: 15vh;
    }
    .container__transitions h1 {
        font-size: 1.4rem;
    }
    .container__lacos, .container__roupas {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 4rem 0;
    }
    .container__lacos__text {
        width: 90vw;
    }
    .container__lacos__text h1 {
        font-size: var(--font-size-title-mobile);
    }
    .container__lacos__text p {
        font-size: var(--font-size-paragraphs-mobile);
    }
    .container__lacos__text h2 {
        font-size: var(--font-size-subtitle-mobile);
    }
    .container__lacos__btns {
        align-items: center;
        justify-content: center;
    }
    .container__lacos__btns a {
        font-size: var(--font-size-paragraphs-mobile);
    }
    .container__lacos__img {
        width: 350px;
        height: 350px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
    .container__lacos__produto {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 1rem;
        cursor: pointer;
    }
    .container__lacos__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container__roupas__img {
        width: 100%;
        height: 350px;
    }
    .container__lacos__text--right {
        padding-left: 0;
    }
}