html, body {
    width: 100%;
    height: 100%;
}

.container__home {
    width: 100%;
    height: 100vh;
    background-image: url("../Img/Img-bg-home.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container__home img {
    width: 600px;
}

.container__home h1 {
   display: none;
    font-family: var(--font-2);
    font-size: 8rem;
    color: var(--font-color-1);
    font-weight: var(--font-weight-1);
    text-shadow: 5px 5px 1px var(--color-1);
    font-weight: var(--font-weight-1);
 }

 .container__home p {
    font-family: var(--font-1);
    font-size: 1.6rem;
    color: var(--font-color-1);
    font-weight: var(--font-weight-2);
    text-shadow: 2px 2px 1px var(--color-1);
    padding-top: 2rem;
 }

 .container__home a {
    font-family: var(--font-1);
    font-size: 1.5rem;
    color: var(--font-color-1);
    font-weight: var(--font-weight-1);
    text-decoration: none;
    background-color: var(--color-1);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin-top: 3rem;
    transition: 0.5s;
 }

 .container__home a:hover {     
    transform: scale(1.1);
    box-shadow: 5px 5px 1px var(--color-3);
 }

 @media screen and (max-width: 730px) {
    .container__home {
       text-align: center;
    }
    .container__home img {
        width: 300px;
    }
    .container__home h1 {
        font-size: 4rem;
    }
    .container__home p {
        font-size: 1.1rem;
        padding-top: 1rem;
    } 
    .container__home a {
        font-size: 1.2rem;
    }
 }

/* SOBRE */

 .container__sobre {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-2);
    position: relative;
    padding: 6rem 0;
 }

 .container__sobre__text {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .container__sobre h1 {
   font-family: var(--font-2);
   font-size: var(--font-size-title);
   color: var(--font-color-1);
   font-weight: var(--font-weight-1);
   font-weight: var(--font-weight-1);
   text-align: center;
 }

 .container__sobre p {
   font-family: var(--font-1);
   font-size: var(--font-size-paragraphs);
   color: var(--font-color-1);
   font-weight: var(--font-weight-3);
   padding: 2rem 0; 
   line-height: 1.5;
   text-align: center;
   width: 80%;
 }

 .container__sobre__img {
   width: 50vw;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .img__sobre {
   width: 600px;
   height: 600px;
   border-radius: 50%;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 6px 6px 1px var(--color-1);
 }

 .img__sobre img {
   width: 100%;
 }

 @media screen and (max-width: 1440px) {
   .img__sobre {
      width: 500px;
      height: 500px;
    }
 }
 @media screen and (max-width: 1024px) {
   .img__sobre {
      width: 300px;
      height: 300px;
    }
 }


 @media screen and (max-width: 730px) {
   .container__sobre {
      flex-direction: column-reverse;
      gap: 2rem;
   }
   .container__sobre__text {
      width: 100vw;
      padding: 0;
   }
   .container__sobre h1 {
      font-size: var(--font-size-title-mobile);
   }
   .container__sobre p {
      font-size: var(--font-size-paragraphs-mobile);
      line-height: 1.1rem;
   }
   .container__sobre__img {
      width: 100%;
   }
   .img__sobre {
      width: 250px;
      height: 250px;
    }
 }

/* CONTATO */

.container__contato {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: var(--color-bg-3);
   padding: 8rem 0;
   position: relative;
}

.container__contato__text {
   width: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 1;
}

.container__contato__text h1 {
   font-family: var(--font-2);
   font-size: var(--font-size-title);
   color: var(--font-color-3);
   font-weight: var(--font-weight-1);
   font-weight: var(--font-weight-1);
}

.container__contato__text p {
   width: 50vw;
   font-family: var(--font-1);
   font-size: var(--font-size-paragraphs);
   color: var(--font-color-3);
   font-weight: var(--font-weight-3);
   padding: 2rem 0; 
   line-height: 1.5;
}  

.container__contato__social {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
   gap: 3rem;
}

.container__contato__social a {
   font-family: var(--font-1);
    font-size: var(--font-size-paragraphs);
    color: var(--font-color-1);
    font-weight: var(--font-weight-2);
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1.6rem;
    background-color: var(--color-1);
    transition: 0.5s ease-out;
    border: 1px solid var(--color-1);
}

.container__contato__social a:hover {
   background-color: var(--color-bg-3);
   transition: 0.5s ease-in-out;
   color: var(--color-1);
}

.localizacao {
   width: 50vw;
   font-family: var(--font-1);
   font-size: var(--font-size-paragraphs);
   color: var(--font-color-3);
   font-weight: var(--font-weight-3);
   padding: 2rem 0; 
   line-height: 1.5;
   text-align: center;
}

.localizacao a {
   text-decoration: none;
   color: var(--color-1);
   font-weight: 500;
}

.localizacao a:hover {
   text-decoration: underline;
}

.container__contato img {
   width: 200px;
   position: absolute;
   left: 3rem;
   bottom: 0;
   z-index: 0;
   animation: pular 2s infinite;
}

@keyframes pular {
   0% {
     transform: translateY(0); /* Posição inicial */
   }
   50% {
     transform: translateY(-20px); /* Movimenta para cima 20px */
   }
   100% {
     transform: translateY(0); /* Volta à posição inicial */
   }
 }

@media screen and (max-width: 730px) {
   .container__contato {
      padding: 8rem 0;
   }
   .container__contato__text {
      padding: 0;
   }
   .container__contato__text h1 {
      font-size: var(--font-size-title-mobile);
   }
   .container__contato__text p {
      width: 90vw;
      font-size: var(--font-size-paragraphs-mobile);
   }
   .container__contato__social {
      gap: 1rem;
   }
   .container__contato__social a {
      font-size: var(--font-size-paragraphs-mobile);
   }
   .container__contato img {
      width: 100px;
      left: 1rem;
   }
   .localizacao {
      width: 90vw;
      font-size: 1rem;
   }
 }
